@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
  }
/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
  h4 {
    font-size: 20px;
    color: #222;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
  p {
    font-size: 16px;
    color: #465b52;
    margin: 10px 0 10px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  
  body {
    width: 100%;
  }
  #header{
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E3E6F3;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
  }
  #navbar{
    display: flex;
  }
  #header ul li{
    list-style: none;
    position: relative;
  }
  #navbar li a{
    padding-left: 40px;
    text-decoration: none;
    color: #1a1a1a;
    transition: 0.3 ease;
    font-size: 16px;
    font-weight: 600;
  }
  #navbar li a:hover,
  #navbar li a.active{
    color: #10c3b7;
  }
  #navbar li a:hover::after,
  #navbar li a.active::after{
    content: '';
    width: 30%;
    bottom: -4px;
    left: 40px;
    height: 2px;
    background: #10c3b7;
    position: absolute;
  }
  #main{
    width: 100%;
    height: 90vh;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/hero4.png");
    background-size: cover;
    background-position: top 25% right 0%;
  }
  #main h4{
    padding-bottom: 15px;
  }
  #main h1{
    color: #10c3b7;
  }
  #main button{
    background: url("img/button.png");
    padding: 14px 80px 14px 65px;
    background-color: transparent;
    border: none;
    color: #10c3b7;
    font-weight: 700;
  }
  #feature-pro{
    text-align: center;
    padding: 30px 0;
  }
  .feature-productts-images{
    border: 1px solid #ccc;
    padding: 20px 10px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    text-align: center;
    width: 180px;
  }
  .feature-productts-images:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  }
  .feature-productts-images h6{
    display: inline-block;
    padding: 5px 0px;
    color: #088178;
    margin-top: 10px;
    width: 100px;
    background-color: #fddde4;
    border-radius: 4px;
  }
    #feature-products{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 50px;
  }
  .feature-productts-images:nth-child(2) h6{
    background-color: #cdebbc;
  }
  .feature-productts-images:nth-child(3) h6{
    background-color: #d1e852;
  }
  .feature-productts-images:nth-child(4) h6{
    background-color: #cdd4f8;
  }
  .feature-productts-images:nth-child(5) h6{
    background-color: #f6dbf6;
  }
  .feature-productts-images:nth-child(6) h6{
    background-color: #fff2e5;
  }
  .pro{
    border: 1px solid #CCc;
    border-radius: 10px;
    min-width: 250px;
    padding: 10px 12px;
    position: relative;
  }
  .imag img{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    margin-top: 5px;
  }
  .details{
    padding: 5px;
    text-align: start;
    
  }
  .details-more{
    color: #088178;
    display: flex;
    justify-content: space-between;
  }
  .star{
    color: rgba(228, 203, 17, 0.874);
    padding: 5px 0;
  }
  .details span{
    color: #088178;
    font-size: 12px;
  }  
  .details h4{
    color: #088178;
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
  }
  .proo{
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pro .sh-cart{
    color: #088178;
   position: absolute;
   bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 50%;
   padding: 10px;
   background: #c4f1ee;
   right: 15px;
  }
  .details a{
    text-align: center;
    }
    #hero2{
      height: 300px;
      background-image: url("img/banner/b2.jpg");
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #hero2 p{
      color: white;
    }
    #hero2 h4{
      color: white;
    }
    #hero2 span{
      color: red;
    }
    #hero2 button{
      margin-top: 15px;
      padding: 10px 20px;
      outline: none;
      border: none;
      background: white;
    }
    #hero2 button:hover{
      background: #088178;
      color: white;
    }
    #banner,#banner2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 70px;
    margin: 20px 0px;
    }
    #banner2 h3{
      color: #fff;
    }

    .ban1{
      height: 300px;
      min-width: 550px;
      background-image: url("img/banner/b17.jpg");
      background-size: cover;
      background-position: center;
      padding-top: 8%;
      padding-left: 4%;
    }
    .ban1 button{
      padding: 10px 20px;
      outline: none;
      border: none;
      background: white;
    }
    .ban1 button:hover{
      background: #088178;
      color: white;
      }
      .ban1 p{
        color: #fff;
        font-size: 14px;
      }
      .ban1 h3{
        color: #fff;
      }
    .ban2{
      min-width: 550px;
      height: 300px;
      background-image: url("img/banner/b10.jpg");
      background-size: cover;
      background-position: center;
      padding-top: 8%;
      padding-left: 4%;
    }
    .ban2 button{
      padding: 10px 20px;
      outline: none;
      border: none;
      background: white;
    }
    .ban2 button:hover{
      background: #088178;
      color: white;
      }
      .ban2 p{
        color: #fff;
        font-size: 14px;
      }
      .ban2 h3{
        color: #fff;
      }
      .ban3{
        width: 360px;
        height: 250px;
        background-image: url("img/banner/b7.jpg");
        background-size: cover;
        background-position: center;
        padding-top: 10%;
        padding-left: 2%;
      }
      .ban4{
        width: 360px;
        height: 250px;
        background-image: url("img/banner/b4.jpg");
        background-size: cover;
        background-position: center;
        padding-top: 10%;
        padding-left: 2%;
      }
      .ban5{
        width: 360px;
        height: 250px;
        background-image: url("img/banner/b18.jpg");
        background-size: cover;
        background-position: center;
        padding-top: 10%;
        padding-left: 2%;
      }
      #banner3{
        margin: 40px 0px;
        height: 150px;
        background: rgb(3, 3, 69);
        padding-top: 3%;
        padding: 0% 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      #banner3 h3{
        color: #fff;
      }
      #banner3 p{
        color: #fff;
        font-size: 14px;
      
      }
      #banner3 span{
        color: rgba(240, 215, 29, 0.852);
      }
      #banner3 input{
        padding: 8px;
        width: 350px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
      }
      .banner3-2 button{
        padding: 10px 15px;
        color: #fff;
        background: rgb(4, 97, 83);
        border: none;
        outline: none;
      }
      .banner3-2{
        display: flex;
      }
      #footer{
        padding: 0px 3%;
        display: flex;
        justify-content: space-evenly;

      }
      #footer h4{
        padding-bottom: 15px;
      }
      .foot1{
        	width: 520px;
      }
      .foot2{
        width: 300px;
      }
      .foot3{
        width: 300px;
      }
      .foot4{
        width: 300px;
      }
      .foot2 ul li, .foot3 ul li{
        list-style: none;
        font-size: 15px;
        padding: 5px 0px;
      }
      .imgg{
        padding-right: 3px;
      }
      .foot1 span{
        font-weight: 600;
        color: black;
      }
      .foot4images{
        display: flex;
        justify-content: space-between;
        
      }
      .foot4images img{
        width: 48%;
        cursor: pointer;
        border: 1px solid #ccc;
      }
    